/* Other than phone= Desktop and Tablet styles */
/* Default css, when bigger than smartphone screen size */
body {
	background-image: url("../IMAGES/milyway.jpeg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
/*
.jumbotron {
	background-image: url("../IMAGES/NightCity.jpg");
	background-repeat: no-repeat;
	background-size:100% 100%;
	height:300px;
}
*/
nav {
	background-color: rgba(0, 0, 0, 0.8);	
}
.navbar-brand {
	color: rgb(235, 184, 91) !important; 
	font-family: 'Brush Script MT', cursive; 
	font-size:3.5vw;
}
.nav-item a {
	color: white !important;
	font-size: 2vw;
	padding-left: 40px !important;
	padding-right: 40px !important;
}
#topspace {
	margin-top: 200px;
}
.container-fluid {
	margin-top: 100px;
	margin-bottom: 100px;
	padding-top:80px;
	padding-bottom:80px;
	background-color: rgba(235, 184, 91, 0.459);
}
.center-align {
	text-align:center;
}
.avatar{
	width: 450px;
	height: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10%;
	/*max-width:auto;
	max-height: 40%;
	margin: auto;
	display:block;*/
	/*border-radius: 10%;*/
}
a {
	color: rgb(255, 0, 55);
}
span {
	color:red;
	font-weight:bold
}
li {
	font-size: 40px;
	color: white;
}
h1 {
	text-align: center;
	color: rgb(0, 17, 255);
	text-decoration: underline;
	font-size: 60px;
	font-weight: bold;
	/*padding-bottom:40px;*/
}
h2 {
	text-align: center;
	color: yellow;
	font-size: 40px;
	font-weight: bold;
	
}
p {
	font-family: OCR A Std, monospace;
	text-align: center;
	font-size:40px;
	color: white;
}
.list {
	font-family: OCR A Std, monospace;
	font-size: 200%;
	list-style-position: inside;
	display: table;
	margin: 0 auto;
}
.botspace {
	margin-bottom: 50px;
}
footer {
	margin-top:40px;
	padding: 100px;
	background-color: black;
	width: 100%;
	margin-bottom:0;
	display:inline;
	position:absolute;
}
/*The top media query is prioritized*/
/*Smartphone width 480? */
@media all and (max-width: 800px) {
	/*
	.jumbotron {
		background-image: url("../IMAGES/NightCity.jpg");
		background-repeat: no-repeat;
		background-size:100% 100%;
		height: 100px;
	}
	*/
	#topspace {
		margin-top: 40px;
	}
	h1 {
		font-size: 40px;
	}
	h2 {
		font-size:30px;
	}
	p {
		font-size: 20px;
	}
	li {
		font-size: 20px;
	}
	iframe {
		width: 300px;
		height: 300px;
	}
	.avatar{
		width: 200px;
		height: 300px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		border-radius: 10%;
	}
	.navbar-brand {
		font-size:25px;
	}
	.nav-item a {
		font-size: 20px;
	}
}/*End of Media Querry*/
