.jumbotron {
		/*	border-radius: 0 !important;*/
	background-image: url("../IMAGES/NightCity.jpg");
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-size:cover;
	height:300px;
}
body {
	background-image: url("../IMAGES/milyway.jpeg");
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
li {
	font-size: 30px;
	color: #FF6DE7;
}
h1 {
	text-align: center;
	color: yellow;
	text-decoration: underline;
	font-size: 260%;
	font-weight: bold;
}
h2 {
	text-align: center;
	color: yellow;
	font-size: 220%;
	font-weight: bold;
	margin-top:30px;
}
h4 {
	text-align: center;
	color: BlueViolet;
}
.avatar{
	width:20%;
	height:20%;
	margin-left: auto;
	margin-right:auto;
	display:block;
}
p {
	font-family: OCR A Std, monospace;
	text-align: center;
	font-size: 230%;
	color:#FF6DE7;
}
.bold {
	font-weight:900;
	color: yellow;
}
ul{
	font-family: OCR A Std, monospace;
	font-size: 200%;
}
.nav-item a{
	/*	text-align:center !important; */
		color: pink !important;
		font-size: 50px;
		margin-left: 150px;
		margin-right: 150px;
	}
#Interests {
		display: table;
		margin: 0 auto;
		list-style-type: square;
}
th {
	color:red;
}
tr {
	color: pink;
	font-size:30px;
}
footer {
	padding: 3px;
	color: red;
}
.link {
	color: red;
	text-align: center;
	font-size:300%;
	margin-left:auto;
	margin-right: auto;
	display:block;
}
label {
	font-size: 150%;
	color:white;

}
/*
.mySlides {
	display:none;
}
*/
